dash==1.6.1
networkx==2.4
plotly==4.3.0
SecretColors==1.1.0

# These are only used by Scrapy. We should consider moving this elsewhere so the Dockerfile doesn't contain this
#jsonlines==1.2.0
#Scrapy~=2.4.0
#requests~=2.24.0
#beautifulsoup4~=4.9.3